@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-image: linear-gradient(#30D5C9, #010707) !important;
    font-family: 'Questrial', sans-serif !important;
    color: white !important;
    height: 100vh;
}

.invert-color{
    mix-blend-mode: exclusion;
}

nav {
    width: 20%;
    max-width: 100%;
    /* background: yellow; */
    display: flex;
    justify-content: space-evenly;
}

nav>a {
    text-decoration: none;
    color: #010707;
    font-size: 20px;
    padding: 15px;
}

.logo {
    width: 5%;
    max-width: 10%;
    margin: 10px;
}

@media screen and (min-width:576px) {

    header {
        display: flex;
        height: auto;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}