@media screen and (min-width:576px) {

    html,
    body {
        height: 100%;
    }

    .hero-container {
        background-image: url(../images/aboutMe.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
        display: flex;
    }

    nav {
        width: 20%;
        max-width: 100%;
        /* background: yellow; */
        display: flex;
        justify-content: space-evenly;
    }



    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 5%;
        margin: 10px;
    }

    .hero-text{
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}